@import '../styles/mixins';

.layout {
  max-width: var(--max-page-width);

  @include desktop {
    margin: 20px auto;
  }
}

.header {
  box-shadow: 0 0 5px 3px rgba(#000, 0.1);
  padding: 12px;
  margin-bottom: 20px;
  display: flex;

  @include desktop {
    border-radius: 5px;
  }
}

.navigation {
  display: flex;
}

.logo {
  margin-right: 24px;
}

.navLink {
  &:not(:last-child) {
    margin-right: 12px;
  }

  &.rightSide {
    align-self: flex-end;
  }
}
